@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: rgb(211, 208, 203);
    --primary2-color: rgb(159, 177, 188);
    --secondary-color: rgb(110, 136, 152);
    --secondary2-color: rgb(46, 82, 102);
    --accent-color: rgb(226, 192, 68);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0 1em;
    background-color: #dfdfdf;
}

h1,
h2 {
    font-family: 'Dosis', sans-serif;
}

h2 {
    /* font-size: 1.7em; */
    letter-spacing: 3px;
}

/* HEADER */

header {
    margin: 1em 1em;
    grid-column: 2/3;
    text-align: center;
    background-color: var(--primary-color);
    padding: 2em 4em;
    border-radius: 2em;
}

header h1 {
    font-size: 1.5em;
    color: var(--secondary2-color);
}

header ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

header a {
    color: var(--secondary2-color);
}

/* MAIN */

main {
    grid-column: 2/3;
    text-align: center;
}

main section {
    border-bottom: 3px solid var(--accent-color);
}

main section:last-child {
    border-bottom: 4em solid var(--accent-color);
}

main section h2 {
    color: var(--secondary2-color);
}

main p {
    font-size: 1.2em;
}

main #scenarios ul {
    text-align: left;
    margin-left: 1em;
}

#color-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em 2em;
    column-gap: 1em;
    row-gap: 1em;
}

#color-display .color-box {
    height: 4em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.white-text {
    color: white;
}

#primary {
    background-color: var(--primary-color);
}

#primary2 {
    background-color: var(--primary2-color);
}

#secondary {
    background-color: var(--secondary-color);
}

#secondary2 {
    background-color: var(--secondary2-color);
}

#accent {
    background-color: var(--accent-color);
}

.dosis {
    font-family: 'Dosis', sans-serif;
    font-size: 1.4em;
}

.example-text {
    padding: 5px 10px;
    margin: 1em auto;
    width: fit-content;
    background-color: var(--primary-color);
    font-weight: 500;
    border-radius: 10%;
}