@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './animations.css';

/* Defining color variables */
:root {
    /* Colors */
    --primary-color: rgb(211, 208, 203);
    --primary2-color: rgb(159, 177, 188);
    --secondary-color: rgb(110, 136, 152);
    --secondary2-color: rgb(46, 82, 102);
    --accent-color: rgb(226, 192, 68);

    /* Other */
    --image-border-radius: 60px;
    --card-border-radius: 50px;
    --button-border-radius: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* General Styles */

a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #000000;
}

/* Header */

header {
    width: 100%;
    position: sticky;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    z-index: 100;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div a img {
    padding: 0.5em 1em;
    cursor: pointer;
}

header div #menu {
    padding: 1em;
    font-size: 2em;
    cursor: pointer;
}

header nav {
    display: none;
    height: auto;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header nav ul li {
    margin: 0.5em auto;
}

header nav ul li a {
    padding: 0.75em 1em;
    border-radius: var(--button-border-radius);
    background-color: var(--primary-color);
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}

.active-page {
    color: #ffffff;
    background-color: var(--secondary2-color);
}

/* Main */

main section {
    height: fit-content;
}

/* Hero */

.hero {
    position: relative;
    text-align: left;
    height: fit-content;
    background-color: var(--primary-color);
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.hero-content {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    color: var(--secondary2-color);
    font-weight: 500;
}

.hero-background {
    margin: 1em;
    height: 10em;
    background-size: cover;
    background-image: url('../images/downtown-yyc.webp');
    background-position: center center;
    border-radius: var(--image-border-radius);
}

.hero-content h1 {
    font-size: 3em;
    text-align: left;
}

.hero-content mark {
    background-color: var(--secondary2-color);
    padding: 0.1em 0.25em;
    border-radius: 8px;
    color: white;
}

.call-to-action {
    color: #000000;
    background-color: var(--accent-color);
    padding: 1em;
    margin: 1em 0;
    font-size: 1.25em;
    border-radius: 40px;
    text-decoration: none;
    max-width: fit-content;
}

.bounce {
    animation: bounce 3s ease-in-out infinite;
}

/* Events */

.events-section {
    margin: 2em;
}

.events-section h2,
.weather-section h2 {
    color: var(--secondary2-color);
}

#event-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.event-button {
    background-color: #FFFFFF;
    padding: 0.75em;
    border-radius: var(--button-border-radius);
    color: #000000;
    margin: auto;
    text-decoration: none;
    font-weight: 500;
}

.card {
    background-color: var(--primary2-color);
    padding: 2em;
    border-radius: var(--card-border-radius);
}

.card p {
    margin-bottom: 1.5em;
}

/* Weather */

.weather-section {
    background-color: #bababa;
    margin: 2em 0 0 0;
    padding: 2em;
}

.forecast-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.forecast {
    padding: 2em;
    text-align: center;
}

.weather-section h2 {
    margin: 0.5em auto 0 auto;
    font-size: 2.2em;
}

.weather-grid {
    padding: 2em;
    max-width: fit-content;
}

.weather-grid div p {
    text-align: left;
}

.weather-grid img {
    justify-self: right;
}

.weather-section div {
    padding: 1em;
    border-radius: var(--card-border-radius);
}

.weather-section .weather-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #ffffff;
    background-color: rgba(74, 73, 73, 0.877);
}

.weather-section .weather-grid img {
    margin: auto 10px;
    background-color: #ffffff;
    border-radius: 100%;
}

/* Spotlight */

.spotlight {
    margin: 0;
    padding: 2em;
    background-color: var(--accent-color);
}

.spotlight h2 {
    margin-top: 0;
    color: var(--secondary2-color);
}

#spotlight-cards {
    display: grid;
    gap: 1em;
}

/* Discover */

.discover-grid {
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 2em;
}

.discover-content {
    color: var(--secondary2-color);
    height: fit-content;
    padding: 2em;
    background-color: var(--primary-color);
    border-radius: var(--card-border-radius);
}


.discover-content img {
    margin: 0 auto;
    width: 100%;
    max-height: 15em;
    object-fit: cover;
    object-position: center bottom;
    border-radius: var(--image-border-radius);
}

.discover-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.discover-images img {
    width: 90%;
    margin: 2em auto;
    border-radius: var(--image-border-radius);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.discover-links {
    font-weight: 500;
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.last-visited {
    margin: 1em 0;
    font-weight: 600;
    font-size: 2em;
    color: var(--secondary-color);
    text-align: center;
}

/* Join Form */

.join-form {
    margin: 2em auto;
    padding: 2em;
    background-color: var(--primary-color);
    border-radius: var(--card-border-radius);
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
}

.join-form h1 {
    color: var(--secondary2-color);
}

.join-form div {
    grid-row: 1/2;
}

.membership-levels h1 {
    text-align: center;
}

.membership-levels h1,
.membership-levels h2 {
    color: var(--secondary2-color);
}

.join-form form {
    grid-row: 2/3;
}

.join-form label {
    padding: 0;
    margin: 0.5em 0;
    width: 300px;
}

.join-form #description {
    height: 3rem;
}

.join-form label input,
.join-form select {
    padding: 0.6rem;
    display: block;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #000000;
}

.form-contents {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.field-section {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.field-section legend {
    font-size: 1.2em;
    padding: 0 5px;
}

.form-contents input[type='submit'] {
    color: #FFFFFF;
    font-weight: 600;
    background-color: var(--secondary-color);
    padding: 1em;
    border-radius: 10px;
    border: none;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.form-contents input[type='submit']:hover {
    background-color: var(--primary2-color);
}

.thank-you {
    display: block;
    max-width: 400px;
    margin: 2em auto;
    height: 60vh;
    text-align: center;
}

.thank-you h3 {
    font-size: 4em;
    color: var(--secondary2-color);
}

.thank-you p {
    font-size: 1.4em;
}

.thank-you a {
    padding: 1em 1.5em;
}

.thank-you .button {
    margin: 3em 0;
}

/* Footer */

footer {
    width: 100%;
    background-color: var(--secondary2-color);
    color: #FFFFFF;
    height: fit-content;
    padding: 2em 0;
}

.footer-grid {
    display: grid;
    justify-content: center;
    text-align: center;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    list-style-type: none;
    padding: 0;
    margin: 0.5em 0;
}

footer ul li a {
    color: #FFFFFF;
}

.last-mod {
    text-align: center;
}

/* Directory Page */

.directory {
    min-height: 80vh;
}

.directory-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em 0;
}

.directory-grid div {
    background-color: var(--primary-color);
    width: 90%;
    padding: 2em 0;
    border-radius: var(--card-border-radius);
    max-width: 350px;
    margin: 1em;
}

.directory-grid div img {
    max-width: 100px;
    padding: 1em;
}

.grid-list-buttons {
    width: 125px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.grid-list-buttons div {
    padding: 0.5em;
    margin: 0.5em;
    width: 50px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    cursor: pointer;
}

.grid-list-buttons div svg {
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 0;
}

/* Directory Table */

@media screen and (max-width: 48em) {

    .directory-list table,
    .directory-list thead,
    .directory-list tbody,
    .directory-list th,
    .directory-list td,
    .directory-list tr {
        display: block;
    }

    .directory-list thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .directory-list tr {
        border: 1px solid #ccc;
        margin-bottom: 1em;
        padding: 0.5em;
    }

    .directory-list td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
    }

    .directory-list td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
    }

}

.hidden {
    display: none;
}

/* Popup Styles */
#popup {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

#close-popup {
    align-self: flex-start;
    cursor: pointer;
    font-size: 3em;
    margin: 0.1em 0.5em;
}

#popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    width: 80%;
    padding: 1em;
    border-radius: var(--card-border-radius);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popup-content h2 {
    padding: 0;
    margin: 0;
    color: var(--secondary2-color);
    font-size: 2em;
    text-align: center;
}

#popup-content p {
    padding: 1em;
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
    width: 60%;
}