@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
    /* Light Mode Colors */
    --red: #E63946;
    --primary-text: #F1FAEE;
    --primary-light: #A8DADC;
    --primary: #457B9D;
    --background: #1D3557;
    --main-text: #1D3557;
    --left-right-padding: 20px;
    --top-bottom-padding: 20px;

    /* Dark Mode Colors */
    --dm-red: #7b2229;
    --dm-primary-text: #F1FAEE;
    --dm-primary-light: #b8e0e0;
    --dm-primary: #194663;
    --dm-background: #1D3557;
    --dm-main-text: #e2ebf8;
    --dm-left-right-padding: 20px;
    --dm-top-bottom-padding: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: var(--background);
    color: var(--primary-text);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

header span {
    font-size: 2em;
    margin: 15px 5px;
    font-weight: 600;
}

header img {
    border-radius: 50%;
    margin: 20px;
    max-width: 100px;
    max-height: 100px;
}

/* NAVIGATION */

nav {
    background-color: var(--primary);
}

nav #menu {
    color: var(--primary-text);
    font-size: 2em;
    text-align: center;
    display: block;
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    display: block;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.4);
}

/* MAIN */

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: var(--left-right-padding);
}

.hero-image {
    width: 100%;
    position: relative;
}

.hero-image picture {
    max-width: 100%;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background: radial-gradient(#FFFFFF, var(--primary));
    border-radius: 5px;
    box-shadow: 0 0 3em #000000;
}

.hero-label p {
    font-weight: 400;
    margin: 0.5em;
}

main h1 {
    text-align: center;
    color: var(--main-text);
    margin: var(--top-bottom-padding) 0;
    border-bottom: 1px solid var(--background);
    padding-bottom: 5px;
    font-size: 1.4em;
}

main section.card {
    border: 1px solid var(--primary);
    display: block;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 500;
}

main section.card h2 {
    text-align: center;
    background-color: var(--primary);
    color: var(--primary-text);
    padding: var(--top-bottom-padding);
    margin: 0;
}

main section.card ul {
    list-style-type: none;
    padding: 0 var(--left-right-padding);
    margin: 0;
    text-align: left;
}

main section.card ul li:first-child {
    margin-top: 20px;
}

main section.card ul li {
    margin-bottom: 10px;
}

main section.card ul li:last-child {
    margin-bottom: 20px;
}

main section.card {
    text-align: center;
}

.map {
    width: 100%;
    height: 20em;
}

/* FOOTER */

footer {
    background-color: var(--background);
    color: var(--primary-text);
    text-align: center;
}

footer p {
    margin: 0;
    padding: 10px 0;
}

footer .copyright {
    font-size: 1.2em;
}

footer .last-mod {
    color: var(--primary-light);
}

footer p:first-child {
    padding-top: 20px;
}

footer p:last-child {
    padding-bottom: 20px;
}

/* DARK MODE STYLES */

body.dark-mode {
    background-color: #333333;
}

.dark-mode header {
    background-color: var(--dm-background);
    color: var(--dm-primary-text);
}

.dark-mode nav {
    background-color: var(--dm-primary);
}

.dark-mode h1 {
    color: var(--dm-main-text);
    border-bottom: 1px solid var(--dm-background);
}

.dark-mode main section.card {
    border: 1px solid var(--dm-primary);
    color: var(--dm-main-text);
}

.dark-mode main section.card a {
    color: var(--dm-primary-light);
}

.dark-mode main section.card a:hover {
    color: rgba(255, 255, 255, 0.4);
}

.dark-mode main section.card h2 {
    background-color: var(--dm-primary);
    color: var(--dm-primary-text);
}

.dark-mode footer {
    background-color: var(--dm-background);
    color: var(--dm-primary-text);
}

.dark-mode footer .last-mod {
    color: var(--dm-primary-light);
}

.recorded {
    height: 60vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}