:root {
    --main-color: #333;
    --secondary-color: #888;
    --background-color: #f4f4f4;
}

form {
    background-color: var(--background-color);
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    color: var(--main-color);
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
}

input[type="range"] {
    width: 100%;
}

input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--secondary-color);
}