@media screen and (min-width: 700px) {

    :root {
        --left-right-padding: 40px;
    }

    /* HEADER */

    header span {
        font-size: 3em;
    }

    header img {
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 30px;
        max-width: 100%;
        max-height: 100%;
    }

    /* NAVIGATION */

    nav ul {
        display: flex;
    }

    nav li {
        flex: 1;
    }

    nav a {
        padding: 1.1em;
        font-size: 1.3em;
    }

    /* MAIN */

    main {
        grid-template-columns: 2fr 1fr;
        row-gap: 10px;
        column-gap: 30px;
    }

    main h1 {
        grid-column: 1/3;
        text-align: left;
        font-size: 2em;
    }

    main section.card {
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

}